{% extends "main.html" %}
{% block content %}

<h1>Minh nghiện</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut diam purus,
    tincidunt non finibus non, rhoncus id augue. Vivamus et velit a quam ultricies
    viverra porttitor eu ipsum. Mauris id orci quam. Morbi et purus quis est
    ullamcorper laoreet. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Morbi ut iaculis diam. Aenean arcu nisi, fermentum eget luctus ac,
    varius sed dui. Vivamus euismod enim et ligula congue, at auctor lorem cursus.
    Mauris sed risus nec erat ullamcorper pharetra vehicula ac ex. Nulla
    tristique, sapien nec blandit tincidunt, magna elit mattis nulla, sed pharetra
    diam sem ultricies augue. Fusce at condimentum justo. Ut eu mauris sit amet
    turpis mollis feugiat nec quis lacus.
</p>

{% endblock content %}